{% extends 'base.html' %}

{% block content %}

<!--PLACEHOLDER-->
<p aria-hidden="true">

  <a class="btn btn-primary disabled placeholder" 
  style="width: 100%; 
  background-color: #0F0F0F; 
  margin: 10px;
  padding: 0px;"
  >
  </a>
</p>

<a class="btn btn-primary disabled placeholder" style="width: 100%; 
background-color: #A0E9FF; 
margin: 10px;
color: #0F0F0F;">
  This Project is the combined efforts of Rhitesh R Kotekar and Nilesh Karthik of class 12. 
  
</a>
<br>
<br>
  <!-- Button trigger modal -->
  <div class="d-flex justify-content-center">
    <button type="button" class="btn1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Click Me!

    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Thank you!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Simran, Dead_Meat, BeautifulPrince, Chipmunk, Pooh
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<p aria-hidden="true">
  
  <a class="btn btn-primary disabled placeholder" 
  style="width: 100%; 
  background-color: #0F0F0F; 
  margin: 10px;
  padding: 1px;"
  >
  </a>

</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock content %}  